* {
    box-sizing: border-box;
}

body {
    background: url(images/bg-mobile.png);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.module {
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem;
}

header {
    background: hsl(228, 56%, 26%);
    border-radius: 1em 5em 1em 1em;
    display: inline-block;
    padding: 2em;
}

.logo {
    margin: 1rem 0;
}

.buttons {
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    /* margin: 1em 0 0 0; */
    padding: 0;
}
.col {
    background: hsl(229, 57%, 11%);
    border-radius: 0.5em;
    height: 2.5em;
    width: 2.5em;
    list-style: none;
    /* padding: 0.5em; */
    text-align: center;
}

.col a img {
    /* padding-top: 1em; */
    vertical-align: bottom;
}

.col + .col {
    margin-left: 1em;
}

.storage {    
    background: hsl(228, 56%, 26%);
    border-radius: 1em;
    color: white;
    display: inline-block;
    margin-top: 1rem;
    padding: 2em;
}

.storage__message {
    text-align: center;
}

progress {
    display: inline;
    width: 100%;
}

.progress__values {
    display: flex;
    justify-content: space-between;
}

.progress__value {
    display: inline-block;
    font-weight: 700;
}

.progress__maxvalue {
    text-align: right;
}

.storage__left {
    background-color: white;
    border-radius: 1em;
    color: hsl(229, 7%, 55%);
    display: inline-block;
    padding: 2em;
}

@media (min-width: 1100px) {
    html {
        height: 100%;
    }

    body {
        background-color: hsl(229, 57%, 11%);
        background-image: url(images/bg-desktop.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        height: 100%;
    }

    .module {
        flex-direction: row;
        margin: 5rem 0;
        justify-content: center;
    }

    header {
        min-width: 20rem;
    }

    .storage {    
        margin-top: 0;
        margin-left: 1rem;
        min-width: 25rem;
    }

}